<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Браузерная онлайн-читалка книг. Поддерживаются форматы: fb2, html, txt, rtf, doc, docx, pdf, epub, mobi.">
    <meta name="keywords" content="онлайн,читалка,fb2,книги,читать,браузер,интернет">
    <title></title>
    <script>
        (function() {
            if('serviceWorker' in navigator) {
                navigator.serviceWorker.register('/app/service-worker.js');
            }
        })();
    </script>
  </head>
  <body>
    <div id="app"></div>
    <script src="https://yastatic.net/share2/share.js" async="async"></script>
  </body>
</html>
